# Pandas Index Objects
- 판다스 인덱스 객체 기초

## First steps

In [2]:
import pandas as pd

In [10]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [11]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
summer.index

RangeIndex(start=0, stop=31165, step=1)

In [6]:
type(summer.index)

pandas.core.indexes.range.RangeIndex

In [7]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

## 크래프트맨 멘탈리티 강의

In [12]:
# 400은 int의 인스턴스가 맞나?
X = 400
isinstance(X,int)

True

In [13]:
Z = True
isinstance(Z, bool)

True

In [18]:
# type()로 인스턴스를 만든 클래스 알아보기
# 400은 어떤 클래스로 만들었나?
X = True
X.__class__

bool

In [20]:
q = [
{(123): ['크래프트맨 멘탈리티', '최고', [100,200]],
 '취미':['최강야구','쉬기','놀기']}
]

# Q1. 100을 가져오시요
# Q2. 최강야구를 가져오시오

In [21]:
print(q)

[{123: ['크래프트맨 멘탈리티', '최고', [100, 200]], '취미': ['최강야구', '쉬기', '놀기']}]

In [24]:
print(q[0][(123)][2][0])

100

In [26]:
q[0]['취미'][0]

'최강야구'

### 변수의 중요성

- 변수를 숫자로 시작하지 않는다.
- 소문자로만 만든다.
- 파이썬 키워드를 사용하지 않는다. (ex print, int, str)
- _로 시작해도 된다.
- 최대한 자세한 단어를 사용한다. (헷갈리지 않도록)

### Memory and Referencing

In [ ]:
# list2 == list3 둘의 값이 같은가?
# list3 is list3 둘이 같은 객체인가?

In [28]:
x = {'name' : 'craftsman'}
y = x
y['name'] = 'mentality'
x['name']
# x와 y가 동일한 딕셔너리를 가지고 있는 상태에서, y라는 변수를 통해 name이라는 키의 값을 변경하였으므로, 같은 객체를 공유하는 x에서 name 키의 값을 불러왔을 때 같은 값이 나오는 것인가?

'mentality'

### Numbers

In [30]:
print(5 // 2) # 2와 2분의 1 >> 그 중의 2를 가져옴 >> 2.5??
print(5 % 2) # 나머지

2
1

In [31]:
(3+3)*2**2-23

1

In [33]:
# 숫자 관련 모듈
# import math
# math.sqrt(25) >> sqaure root, 즉 제곱근
# math.log(100,10) = 2 >>> 10을 n승했을 때 100이 나오는 숫자를 구하시오
# math.pow(5,2) > 25

In [34]:
# import random
# random.random()
# random.randint(0,9)