# 파일 경로 지정

In [149]:
financial_data_path = r"C:\Users\User\Udemy_Python_Data_science_PANDAS\241Q재무데이터.csv"
stock_count_path = r"C:\Users\User\Udemy_Python_Data_science_PANDAS\241Q주식수.csv"
main_products_path = r"C:\Users\User\Udemy_Python_Data_science_PANDAS\주요상품.csv"
stockprice2_path = r"C:\Users\User\Udemy_Python_Data_science_PANDAS\stockprice_0722.csv"

# 라이브러리 불러오기

In [150]:
import pandas as pd
import numpy as np

In [151]:
# stockprice = pd.read_csv(r"C:\Users\User\Udemy_Python_Data_science_PANDAS\stockprice_0722_v2.csv", parse_dates=["datetime"], index_col="datetime")

In [152]:
stockprice2 = pd.read_csv(stockprice2_path, index_col ="company")
# 열 이름을 'Timestamp' 형식으로 변환
stockprice2.columns = pd.to_datetime(stockprice2.columns)

In [153]:
# stockprice.info()

In [154]:
# stockprice.index[0]

In [126]:
# type(stockprice.iloc[0,1])

In [156]:
financial_data = pd.read_csv(financial_data_path, index_col="company")
stock_count = pd.read_csv(stock_count_path, index_col="company")
main_products = pd.read_csv(main_products_path, index_col="company")

# 재무데이터만 불러오기

In [157]:
# financial_data = pd.read_csv(financial_data_path, index_col="company")

## 유통보통주식수 계산

In [158]:
stock_count['shares'] = stock_count.outstandingshares - stock_count.treasuryshares

In [174]:
stock_count.head()

           symbol  outstandingshares  treasuryshares      shares
company
삼성전자      A005930         5969782550               0  5969782550
SK하이닉스    A000660          728002365        39384720   688617645
LG에너지솔루션  A373220          234000000               0   234000000
삼성바이오로직스  A207940           71174000               0    71174000
현대차       A005380          209416191         5580310   203835881

In [160]:
financial_data.head(10)

,symbol,지배주주지분,sales_ltm_c,지배주주순이익,equity,sales_ltm_s,ni
company,,,,,,,
삼성전자,A005930,362315069000,267105724000,19693179000,232139453000,179445028000,30976441000
SK하이닉스,A000660,55510235000,40107206000,-4612768000,56486083000,33598341000,-1368629000
LG에너지솔루션,A373220,20693029000,31127067000,736121000,16996841000,10897687000,306601000
삼성바이오로직스,A207940,10010237633,3920570047,895297714,8421760804,3017268251,947147533
현대차,A005380,95108031000,165552113000,11881128000,62726955000,78032734000,10083537000
기아,A000270,47278248000,102330611000,9465372000,32090324000,60079687000,9293699000
셀트리온,A068270,16865980249,2315847935,392825646,16935628095,1976094597,452308525
KB금융,A105560,57136088000,29892458000,4172357000,27191268000,38274000,2160936000
POSCO홀딩스,A005490,54792478637,75798269185,1512387956,48232755702,1789829203,1189175291
NAVER,A035420,23432991120,9916256455,1467834264,11570637548,5696019324,1376913708

In [161]:
df_financial_data = financial_data.iloc[:, [2,4,6]]

In [162]:
df_merged = stock_count.join(df_financial_data) # 주식수 병합하기

In [163]:
stock_count.head()

           symbol  outstandingshares  treasuryshares      shares
company
삼성전자      A005930         5969782550               0  5969782550
SK하이닉스    A000660          728002365        39384720   688617645
LG에너지솔루션  A373220          234000000               0   234000000
삼성바이오로직스  A207940           71174000               0    71174000
현대차       A005380          209416191         5580310   203835881

In [164]:
df_merged.head()

,symbol,outstandingshares,treasuryshares,shares,sales_ltm_c,equity,ni
company,,,,,,,
삼성전자,A005930,5969782550,0,5969782550,267105724000,232139453000,30976441000
SK하이닉스,A000660,728002365,39384720,688617645,40107206000,56486083000,-1368629000
LG에너지솔루션,A373220,234000000,0,234000000,31127067000,16996841000,306601000
삼성바이오로직스,A207940,71174000,0,71174000,3920570047,8421760804,947147533
현대차,A005380,209416191,5580310,203835881,165552113000,62726955000,10083537000

In [165]:
# financial_data.columns

In [17]:
# financial_data.dtypes

## 가치배수 계산
- 주당 장부가, 순이익, 매출액은 계산 가능
- Price를 고려한 가치배수를 계산하려면 '어느 시점'의 가격인지 결정해야 함

In [166]:
df_merged["EPS"] = (df_merged.ni*1000) / df_merged.shares
df_merged["SPS"] = (df_merged.sales_ltm_c*1000) / df_merged.shares
df_merged["BPS"] = (df_merged.equity*1000) / df_merged.shares

In [167]:
df_merged.head()

,symbol,outstandingshares,treasuryshares,shares,sales_ltm_c,equity,ni,EPS,SPS,BPS
company,,,,,,,,,,
삼성전자,A005930,5969782550,0,5969782550,267105724000,232139453000,30976441000,5188.872583,44742.957011,38885.746852
SK하이닉스,A000660,728002365,39384720,688617645,40107206000,56486083000,-1368629000,-1987.502077,58243.070434,82028.224821
LG에너지솔루션,A373220,234000000,0,234000000,31127067000,16996841000,306601000,1310.260684,133021.653846,72636.072650
삼성바이오로직스,A207940,71174000,0,71174000,3920570047,8421760804,947147533,13307.493368,55084.301107,118326.366426
현대차,A005380,209416191,5580310,203835881,165552113000,62726955000,10083537000,49468.900914,812183.371190,307732.645952

In [20]:
# stockprice.head()

In [21]:
# financial_data.head(5)

In [22]:
# stock_count.columns

In [23]:
# stock_count["shares"] = stock_count.outstandingshares - stock_count.treasuryshares 위에서 계산했으므로 불필요

In [168]:
stock_count.head(10)

           symbol  outstandingshares  treasuryshares      shares
company
삼성전자      A005930         5969782550               0  5969782550
SK하이닉스    A000660          728002365        39384720   688617645
LG에너지솔루션  A373220          234000000               0   234000000
삼성바이오로직스  A207940           71174000               0    71174000
현대차       A005380          209416191         5580310   203835881
기아        A000270          399858417         8023168   391835249
셀트리온      A068270          216993223        10712500   206280723
KB금융      A105560          403511072        29245382   374265690
POSCO홀딩스  A005490           84571230         8695023    75876207
NAVER     A035420          162408594        11453085   150955509

In [25]:
# main_products.head(10)

# 유사기업선정

## 표준산업분류 키워드 입력

In [147]:
# 평가대상기업이 영위하는 표준산업분류 키워드를 입력하세요
input_business = input("Enter a keyword to search in business : ")

### 표준산업분류(10차, 세분류)에 따라 sorting하도록 하였음

In [169]:
# main_product 데이터프레임의 10차표준(세분류) 열에서 해당 키워드를 포함하고 있는 경우, condition1 변수에 삽입
comparable_company_conditon_1 = main_products.iloc[:,1].str.contains(input_business, case=False, na=False)

# condition1 변수를 main_products 데이터프레임에 추가하여 조건 필터링, comparable_companny 변수 지정
comparable_company = main_products.loc[comparable_company_conditon_1].copy()

### 추후 영업정지, 관리종목 여부도 함께 고려하도록 코드 추가

In [170]:
# 해당 키워드를 포함하는 상장기업의 수 출력
print(f"해당 키워드를 포함하는 상장기업의 수는 {len(comparable_company)}개 입니다.")

해당 키워드를 포함하는 상장기업의 수는 26개 입니다.

#### comparable_company에 열 추가할 때마다 복사하고 이름 변경할 것

In [171]:
# europe  = cars.loc[mask1].copy()
comparable_company.head()

,symbol,10차표준(세분류),주요상품,영업현황
company,,,,
크래프톤,A259960,게임 소프트웨어 개발 및 공급업,등 게임 소프트웨어,"\n매출, 영업이익 선방\n\n동사는 2007년에 설립된 글로벌 게임회사로서, 게임..."
넷마블,A251270,게임 소프트웨어 개발 및 공급업,온라인·모바일 게임 소프트웨어 개발 및 공급,\n7분기 만에 23.4Q 영업이익 흑자\n\n동사의 연결실체는 모바일 게임 개발 ...
엔씨소프트,A036570,게임 소프트웨어 개발 및 공급업,"인터넷머그게임(리니지),그룹웨어,인터넷커뮤니티 개발,유지,공급","\n게임 라인업 부진 여파\n\n온라인, 모바일 게임을 개발해 운영함. PC게임 리..."
펄어비스,A263750,게임 소프트웨어 개발 및 공급업,온라인게임 개발 서비스(검은사막),\n매출 감소로 영업이익 적자전환\n\n게임소프트웨어 개발 및 게임 서비스 공급업 ...
카카오게임즈,A293490,게임 소프트웨어 개발 및 공급업,"모바일, PC게임 퍼블리싱",\n신작 지연으로 실적 감소\n\n동사는 국내 대표 모바일 메신저 카카오톡과 인터넷...

In [172]:
# df_merged에서 3, 7, 8, 9번째 열을 선택하여 comparable_company에 병합
columns_to_merge = df_merged.columns[[3,7,8,9]]

# comparable_company의 인덱스를 기준으로 df_merged에서 선택한 열들을 재인덱싱
filtered_columns = df_merged.reindex(comparable_company.index)[columns_to_merge]

# 열 병합 (인덱스를 기준으로 병합)
comparable_company = comparable_company.join(filtered_columns)

# 주요상품, 영업현황 열 제거, 주요 데이터 재정리해서 별도 DF에 관리할 필요 있음

In [173]:
comparable_company.head(5)

,symbol,10차표준(세분류),주요상품,영업현황,shares,EPS,SPS,BPS
company,,,,,,,,
크래프톤,A259960,게임 소프트웨어 개발 및 공급업,등 게임 소프트웨어,"\n매출, 영업이익 선방\n\n동사는 2007년에 설립된 글로벌 게임회사로서, 게임...",45439470.0,17671.476120,44846.195983,130588.925509
넷마블,A251270,게임 소프트웨어 개발 및 공급업,온라인·모바일 게임 소프트웨어 개발 및 공급,\n7분기 만에 23.4Q 영업이익 흑자\n\n동사의 연결실체는 모바일 게임 개발 ...,81934571.0,2505.326415,30327.022863,58209.560773
엔씨소프트,A036570,게임 소프트웨어 개발 및 공급업,"인터넷머그게임(리니지),그룹웨어,인터넷커뮤니티 개발,유지,공급","\n게임 라인업 부진 여파\n\n온라인, 모바일 게임을 개발해 운영함. PC게임 리...",19956730.0,7853.918853,85132.868862,164802.086464
펄어비스,A263750,게임 소프트웨어 개발 및 공급업,온라인게임 개발 서비스(검은사막),\n매출 감소로 영업이익 적자전환\n\n게임소프트웨어 개발 및 게임 서비스 공급업 ...,61419410.0,957.775010,5424.469577,12795.932524
카카오게임즈,A293490,게임 소프트웨어 개발 및 공급업,"모바일, PC게임 퍼블리싱",\n신작 지연으로 실적 감소\n\n동사는 국내 대표 모바일 메신저 카카오톡과 인터넷...,81791583.0,-5569.693583,12497.643639,12512.610509

## 주가기준일 입력(추후 수정주가 평균화 가능하도록 설정)

In [32]:
# 평가기준일에 따른 주가 사용일
price_date = input("적용 주가 기준일을 입력하세요.")

In [33]:
# 주가 데이터에서 필요한 열만 선택하고 재인덱싱
filtered_stockprice = stockprice.reindex(columns=comparable_company['symbol'])

# 특정 날짜의 값을 가져오기
selected_values = filtered_stockprice.loc[price_date]
# Series를 DataFrame으로 변환
# selected_values_df = selected_values.to_frame()

# selected_values_df의 열 이름을 변경하여 충돌 방지
# selected_values_df.columns = ['price']

# 주가 데이터를 comparable_company 데이터프레임에 병합
comparable_company = comparable_company.join(selected_values_df)

NameError: name 'selected_values_df' is not defined

In [ ]:
# comparable_company.drop(columns='price',inplace=True)

In [ ]:
comparable_company.head()

In [ ]:
# new_df = comparable_company.drop(columns=["주요상품","영업현황"]).copy()

In [ ]:
new_df.rename(columns={pd.Timestamp(price_date): 'price'}, inplace=True)

In [ ]:
# new_df.head()

In [ ]:
# 가치배수 계산
new_df["PER"] = new_df.price / new_df.EPS
new_df["PSR"] = new_df.price / new_df.SPS
new_df["PBR"] = new_df.price / new_df.BPS

In [ ]:
new_df

In [ ]:
new_df.describe()

# 평가기준일에 따른 수정주가 계산 날짜 지정

In [129]:
# Step 1 : parameter_date 입력 받기
parameter_date = input("평가 기준일을 입력하세요 (YYYY-MM-DD): ")
parameter_date = pd.to_datetime(parameter_date)

In [130]:
# Step 2: 가장 가까운 이전 영업일 찾기
all_dates = stockprice2.columns
closest_date = all_dates[all_dates <= parameter_date].max()

In [131]:
# 평가기준일이 영업일이 아니라면 가장 가까운 이전의 영업일을 찾도록 해야 함
# if parameter_date not in stockprice.index:
    # closest_date = stockprice.index[stockprice.index.get_indexer([parameter_date], method='pad')[0]]
# else:
    # closest_date = parameter_date

In [132]:
# Step 3: end_date 계산 (closest_date로부터 2달 전)
end_date = closest_date - pd.DateOffset(months=2)
end_date = end_date - pd.offsets.MonthEnd(0)  # 두 달 전의 마지막 날

In [133]:
# Step 4: start_date 계산 (end_date로부터 6달 전)
start_date = end_date - pd.DateOffset(months=6)
start_date = start_date - pd.offsets.MonthEnd(0)  # 6달 전의 마지막 날

In [134]:
# 데이터가 존재하는 범위로 제한
valid_start_date = max(start_date, stockprice2.columns.min())
valid_end_date = min(end_date, stockprice2.columns.max())

In [143]:
# 예제 리스트
selected_companies = ['삼성전자']

In [144]:
# Filter the data for the specified period
filtered_columns = stockprice2.loc[selected_companies, valid_start_date:valid_end_date]

# Drop NaN values and calculate the mean for the selected company
filtered_columns = filtered_columns.dropna()

if filtered_columns.empty:
    mean_value = "No data available for the specified period."
else:
    mean_value = filtered_columns.mean()

In [145]:
# Debugging: 출력해보는 코드
parameter_date, closest_date, valid_start_date, valid_end_date, filtered_columns, mean_value

(Timestamp('2024-06-30 00:00:00'),
 Timestamp('2023-07-03 00:00:00'),
 Timestamp('2023-07-03 00:00:00'),
 Timestamp('2023-05-31 00:00:00'),
          2023-07-03
 company
 삼성전자          73000,
 2023-07-03    73000.0
 dtype: float64)

In [146]:
mean_value

2023-07-03    73000.0
dtype: float64

In [ ]:
# 5. 결과값을 데이터프레임 형식으로 변환하는 함수 정의(미사용)
def results_to_dataframe(results, parameter_date):
    column_name = f"수정주가({parameter_date})"
    data = {
        "Company": [],
        column_name: []
    }
    for company, result in results.items():
        data["Company"].append(company)
        data[column_name].append(result["average_price"])
    df = pd.DataFrame(data)
    df.set_index("Company", inplace=True)
    

    
    # 추가: stock_count 데이터프레임에서 필요한 열 추가
    additional_columns = ['shares', 'eps', 'bps', 'sps']
    for column in additional_columns:
        df[column] = stock_count.loc[df.index, column]
    
    return df
# 5. 결과값을 데이터프레임 형식으로 변환하는 함수 정의(미사용)
def results_to_dataframe(results, parameter_date):
    column_name = f"수정주가({parameter_date})"
    data = {
        "Company": [],
        column_name: []
    }
    for company, result in results.items():
        data["Company"].append(company)
        data[column_name].append(result["average_price"])
    df = pd.DataFrame(data)
    df.set_index("Company", inplace=True)
    
    # 포맷팅 적용
    df[column_name] = df[column_name].apply(lambda x: f"{round(x):,}")
    
    return df