In [1]:
import pandas as pd

In [2]:
# 예시 df1 불러오기
df1 = pd.DataFrame({
    '날짜': ['2024-02-01','2024-03-15','2024-03-30','2024-03-31','2024-04-02','2024-04-05'],
    '금액': [1000,2000,3000,4000,5000,6000]
})
df1['날짜'] = pd.to_datetime(df1['날짜'])

In [3]:
df1

          날짜    금액
0 2024-02-01  1000
1 2024-03-15  2000
2 2024-03-30  3000
3 2024-03-31  4000
4 2024-04-02  5000
5 2024-04-05  6000

In [4]:
# 분기말 spot과 spot-2개월
spot_strs = ['03-31','06-30','09-30','12-31']
spot_dates = [pd.to_datetime(f'2024-{s}') for s in spot_strs]
origins = []
for d in spot_dates:
    origins.append(d) # spot
    origins.append(d - pd.DateOffset(months=2)) # spot - 2 개월

In [5]:
origins

[Timestamp('2024-03-31 00:00:00'),
 Timestamp('2024-01-31 00:00:00'),
 Timestamp('2024-06-30 00:00:00'),
 Timestamp('2024-04-30 00:00:00'),
 Timestamp('2024-09-30 00:00:00'),
 Timestamp('2024-07-30 00:00:00'),
 Timestamp('2024-12-31 00:00:00'),
 Timestamp('2024-10-31 00:00:00')]

In [7]:
# 1) 날짜를 인덱스로 설정
df_idx = df1.set_index('날짜')

# 2) 각 origin (Spot/Spot-2개월)을 기준으로 6개월 평균 구하기
results = {}
for o in origins:
    ser = df_idx.resample(
        '6ME',
        origin=o,
        label='right',
        closed='right'
    )['금액'].mean()
    results[o.strftime('%Y-%m-%d')] = ser

In [8]:
pd.DataFrame(results)

,2024-03-31,2024-01-31,2024-06-30,2024-04-30,2024-09-30,2024-07-30,2024-12-31,2024-10-31
날짜,,,,,,,,
2024-02-29,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
2024-08-31,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0,4000.0