In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
infile = 'Template_ComparableCompany_copy2.xlsx'
df_codes = pd.read_excel(infile, sheet_name=0, usecols=['symbol'])
symbols = df_codes['symbol'].tolist()

symbol = symbols[1]
데이터 = requests.get(f'https://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode={symbol}&cID=AA&MenuYn=Y&ReportGB=D&NewMenuID=Y&stkGb=701')

soup = BeautifulSoup(데이터.text, 'html.parser')

content = soup.select('#bizSummaryContent')[0].text
print(content)

In [28]:
# 1) div 찾기
corp2 = soup.find('div', id='corp_group2')
# 2) 그 안의 모든 <dd> 태그를 리스트로 꺼내기
dd_list = corp2.find_all('dd')
# 3) 3번째 <dl>의 <dd>이므로 인덱스 2를 가져오면 값이 나옴
industry_per = dd_list[5].get_text(strip=True)
print(industry_per)

12.08

In [ ]:
dd_list[5].get_text(strip=True)

# dd_list2 = soup.select('#corp_group2 dd')[5].get_text(strip=True)
dd_list2 = soup.select('#corp_group2 dd')

values = [dd.get_text(strip=True) for dd in dd_list2]

for i, val in enumerate(values, start=1):
    print(f"{i}번째 값 -> {val}")

n = 6
print(f"업종 PER는 {values[n-1]}입니다.")

'12.08'

In [3]:
price = pd.read_excel('price.xlsx')
price

,날짜,삼성전자,SK하이닉스,LG에너지솔루션,삼성바이오로직스,현대차,셀트리온,기아,NAVER,한화에어로스페이스,...,유진스팩9호,엠에프엠코리아,에스케이증권제10호스팩,하나32호스팩,투비소프트,엔에이치스팩25호,스타코링크,아이엠,더테크놀로지,CNH
0,2024-04-01,82000,185500,395500,816000,227500,179653,108700,194300,216207,...,2320,662,2300,2235,3500,2310,22769,8410,3058,1795
1,2024-04-02,85000,186300,393000,816000,220000,175546,104700,192000,249310,...,2330,631,2325,2215,3600,2305,21814,8070,3022,1796
2,2024-04-03,84100,179200,376000,812000,216000,172394,101800,193400,235862,...,2335,631,2360,2235,3580,2295,21426,8190,3016,1793
3,2024-04-04,85300,188000,379500,817000,226000,171534,106700,194300,244138,...,2315,620,2380,2235,3440,2305,20833,8570,2956,1838
4,2024-04-05,84500,182800,376000,813000,225500,169529,105000,193100,219828,...,2345,610,2390,2230,3320,2310,20394,8420,3082,1801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,2025-03-25,59800,208000,335500,1074000,220000,186000,100800,207500,654000,...,2120,161,2085,2125,596,2125,3550,929,364,109
237,2025-03-26,61400,214000,360000,1072000,222000,185400,101400,204000,667000,...,2125,161,2085,2125,596,2125,3360,867,351,109
238,2025-03-27,61800,207000,356500,1059000,212500,181200,97900,197800,663000,...,2125,161,2085,2130,596,2125,2835,903,391,109
239,2025-03-28,60200,199300,356000,1049000,205000,177100,95300,194700,630000,...,2125,161,2090,2120,596,2130,2805,823,373,109
240,2025-03-31,57800,190700,334500,1014000,197200,169000,92300,191000,627000,...,2125,161,2075,2115,596,2125,2255,903,414,109